[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "~=0.34.0"}
fastapi = {extras = ["all"], version = "~=0.115.11"}
sqlalchemy = ">=2.0.38, <3.0.0"
pydantic = ">=2.10.6, <3.0.0"
geoalchemy2 = {extras = ["shapely"], version = "~=0.17.1"}
psycopg2 = "~=2.9.10"
python-dotenv = "~=1.0.1"
# Data processing
pint = "~=0.24.4"  # Scientific units handling.
pandas = "~=2.0.3"
h3 = "~=3.7.7"
shapely = "~=2.0.1"
fuzzywuzzy = "~=0.18.0"
matplotlib = "~=3.7.2"
seaborn = "~=0.13.2"
scikit-learn = "~=1.4.2"
jsonschema = "~=4.23.0"
# Security and authentication
# Pin bcrypt until passlib supports the latest
bcrypt = "==4.0.1"
authlib = "~=1.5.1"
python-jose = {extras = ["cryptography"], version = "~=3.4.0"}
# Observability
logfire = {extras = ["system-metrics", "fastapi", "sqlalchemy", "psycopg2"], version = "*"}
opentelemetry-instrumentation-sqlite3 = "*"
opentelemetry-instrumentation-psycopg2 = "*"
opentelemetry-instrumentation-jinja2 = "*"
opentelemetry-instrumentation-urllib = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-instrumentation-requests = "*"
opentelemetry-instrumentation-httpx = "*"
opentelemetry-instrumentation-sqlalchemy = "*"
# Others
email-validator = "~=2.1.0"
emails = ">= 0.6, < 1.0"
python-multipart = "~=0.0.6"


[dev-packages]
black = "~=23.3.0"
pytest = "~=7.4.3"
datamodel-code-generator = "*"

[requires]
python_version = "3.11"
