[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
h3 = "*"
shapely = "*"
pyproj = "*"
python-dateutil = "*"
matplotlib = "*"
seaborn = "*"
requests = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.11"
